body{
    font-family: 'Hammersmith One', sans-serif;
    size: 15px;
    height: 100%;
    margin: 0;
    background-color: #F8F4EA;
}



/* HEADER */

.header{
    background-color: #466964;
    color: #FFFFFF;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

/* HEADER - LOGO */

.header .logo{
    width: 300px;
    display: flex;
    align-items: center;
}

.logo img{
    width: 70px;
    height: 70px;
    padding: 0 4px 0 30px;
}

.logo-title{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 30px;
    margin: 0 0 -5px 0;
}

.logo-slogan{
    font-family: 'Josefin Slab', serif;
    font-size: 15px;
}

/* HEADER - SOCIAL */

.social{
    display: flex;
    align-items: center;
    padding-right: 30px;
    gap: 25px;
}

.social img{
    width: 50px;
    height: 50px;
}

/* MAIN */

.main{
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 25px;
    padding: 20px 30px;
}

.subtitle{
    font-size: 18px;
    padding: 0 30px;
}

.cards{
    padding: 30px;
}

hr{
    width: 80%;
    border: 1px solid #466964;
}

/* MAIN - CARD */

.card{
    width: 300px;
    height: 230px;
    background-color: #FFFFFF;
    border-left: 8px solid #ffc831;
    border-radius: 10px;
    margin: 0 20px;
    padding: 25px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px lightgray;
}

.movie-title{
    font-size: 20px;
    padding-top: 10px;
}

.movie-data{
    display: flex;
    justify-content: space-between;
    color: rgb(150, 150, 150);
}

.movie-desc{
    align-self: flex-start;
    color: rgb(110, 110, 110);
    margin-top: 20px;
}

.movie-buttons{
    margin-top: auto;
    display: flex;
    justify-content: end;
    gap: 15px;
}

.btn{
    height: 25px;
}

/* FOOTER */

.footer{
    height: 50px;
    width: 100%;
    background-color: #466964;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
