body{
    font-family: Arial, Helvetica, sans-serif;
    size: 15px;
    height: 100%;
    margin: 0;
    background-color: #ddf0ec;
}



/* HEADER */

.header{
    background-color: #466964;
    color: #FFFFFF;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

/* HEADER - LOGO */

.header .logo{
    width: 300px;
    display: flex;
    align-items: center;
}

.logo img{
    width: 70px;
    height: 70px;
    padding: 0 4px 0 30px;
}

.logo-title{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 30px;
    margin: 0 0 -5px 0;
}

.logo-slogan{
    font-family: 'Josefin Slab', serif;
    font-size: 15px;
}

/* HEADER - SOCIAL */

.social{
    display: flex;
    align-items: center;
    padding-right: 30px;
    gap: 25px;
}

.social img{
    width: 50px;
    height: 50px;
}

/* FOOTER */

.footer{
    height: 50px;
    width: 100%;
    background-color: #466964;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
}
